@import url(./base.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: var(--mainFont);
}

.header {
    padding: 15px 0px;
    background-color: rgb(241, 225, 231);
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
}

.header .logo img {
    width: 25px;
}

.header .logo a {
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--mainColor);

}

.home {
    order: 1;
    color: var(--mainColor);
    display: none;

}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header .nav ul li a {
    color: #101828;
    font-family: var(--mainFont);
}

@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 33px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }
}

.active {
    font-weight: 700;
}

.auth {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    align-items: center;
}

.auth a {
    padding: 5px 25px;
    font-family: var(--subFont);
    border: solid 2px var(--mainColor);
    border-radius: 8px;
}

.auth .login {
    color: var(--mainColor);

}

.auth .Register {
    color: #ffffff;
    background-color: var(--mainColor);
}

@media screen and (max-width: 916px) {
    .nav {
        display: none;
    }

    .home {
        display: block;
    }

    .auth {
        display: none;
    }
}

.section1 {
    padding: 30px 0px;
}

.section1 .row {
    gap: 20px;
    
}

.section1 .details {
    box-sizing: border-box;
    padding: 20px 0px;
    align-self: flex-start;
    width: 50%;
}

.section1 .details .Let {
    font-family: var(--subFont);
    color: var(--mainColor);
}

.section1 .details span {
    font-family: var(--subFont);
    color: var(--mainColor);
    font-weight: 800;
}

.section1 .details h1 {
    font-size: 64px;
    color: #141E32;
    font-family: var(--mainFont);
    margin-bottom: 10px;

}

.section1 .details p {
    color: #969696;
    font-family: var(--mainFont);
    margin-bottom: 10px;
}

.section1 .bottom {
    display: flex;
    gap: 10px;
    align-items: center;
}

.section1 .bottom img {
    width: 15px;
    margin-right: 2px;
    margin-top: 2px;

}

.section1 .photo {
    flex-grow: 1;

}

.section1 .Register {
    color: #ffffff;
    padding: 5px;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 8px;
}

.section1 .photo img {
    width: 100%;
    height: 479px;

}

@media screen and (max-width:1075px) {
    .section1 .details {
        width: 100%;
    }

}

.section2 {

    background-color: #F5F5F5;
}

.section2 .row {
    padding: 90px 0px;
    gap: 30px;
}

.section2 .start {
    width: 30%;
}

.section2 .start span {
    font-family: var(--subFont);
    color: var(--mainColor);
}

.section2 .start h2 {
    font-size: 42px;
    font-family: var(--mainFont);
}

.section2 .start p {
    font-family: var(--subFont);
    color: #969696;

}

.section2 .end {
    display: flex;
    gap: 37px;
    flex-grow: 1;
}

.section2 .end div {
    border-radius: 19px;
    max-width: 221px;
    height: 233px;
    background-color: var(--mainColor);
}

.section2 .end .circle {
    width: 38px;
    height: 38px;
    border: 50%;

    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.section2 .end .circle img {
    width: 38px;
    height: 38px;

}

.section2 .end h3,
.section2 .end p {
    margin-left: 10px;
}

.section2 .end h3 {
    color: #fff;
    ;
}

.section2 .end p {
    margin-top: 10px;
    color: #DDDDDD;
}

@media screen and (max-width:1075px) {
    .section2 .row {
        flex-direction: column;

    }

    .section2 .start {
        width: 100%;
    }

    .section2 .end {
        width: 100%;
    }
}

.section3  .background{
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}
.section3 .row {
    padding: 50px 0px;
    gap: 30px;

}

.section3 .start {
    width: 40%;
}

.section3 .start img {
    height: 479px;

}

.section3 .end {
    padding: 0px 67px;
    width: 40%;
    gap: 70px;
}
.section3  .ditils{
    display: flex;
    flex-direction: column;


}
.section3 .end span {
    color: #F0C932;
    font-family: var(--subFont);
    font-weight: 300px;
}

.section3 .end h2 {
    color: #fff;
    font-family: var(--mainFont);
    font-weight: 600;
    font-size: 39px;
}

.section3 .end p {
    color: #DDDDDD;
    font-family: var(--mainFont);
 

}

.section3 .cost {
    display: flex;
    gap: 60px;
    margin-right: auto;
}

.section3  .cost-item{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:882px) {
   
    .section3 .start {
        width: 100%;

    }
        .section3 .end {
            width: 100%;
    }
    
}
@media screen and (max-width:451px) {
    .section3 .cost {
        gap: 10px;}
    }

    @media screen and (max-width:349px) {
        .section3 .cost {
flex-direction: column;
gap: 20px;  
   align-items: center; }


    }

.section4 .row{
    padding: 50px 0px;
    gap: 100px;
    justify-content: flex-start;
}



.section4 .courses-item{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 60%;
}
.section4 .course{
    filter: drop-shadow(4px 11px 5px rgba(0, 0, 0, 0.242));
    border-radius: 10px;
    width: 305px; 
    height: 300px;
    background-color: #fff;
    

}
.section4 .course img{
    width: 100%;
    filter:brightness(.5) ;

}
.section4 .course .photo{
    position: relative;

}
.section4  .course-info{
    position: absolute;
    top: 0px;
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: space-between;
    padding: 20px 0px;
    padding-right: 20px;
    color: #fff;
    align-items: flex-start;
}

.section4 .course-info span:first-of-type{
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    padding: 10px;
}

.section4 .course-info span:last-of-type{
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}
.row1{
    display: flex;
    justify-content: space-between;
margin: 5px;
font-family: var(--mainFont);
    
}
.ditils .row1 span{
    color: var(--mainColor);
}.row2{
display: flex;
gap: 18px;
margin: 5px;
color: #969696;
font-family: var(--mainFont);
    
}
.section4  .courses-desc{
 width: 29%;
    height: 650px;
    
}


.section4  .courses-desc span{
font-family: var(--subFont);
color: var(--mainColor);
}
.section4  .courses-desc h2{
color: #141E32;
font-family: var(--mainFont);
font-size: 41px;
}
.section4  .courses-desc p{
    color: #969696;
    font-family: var(--mainFont);
    margin-bottom: 20px;
}

.section4  .courses-desc a{
    border: 1px solid var(--mainColor);
    background-color: var(--mainColor);
    border-radius: 8px;
    color: #fff;
    font-family: var(--subFont);
    padding: 10px 35px;
}
@media screen and (max-width:1206px) {
    .section4 .courses-item{
        width: 100%;
        flex-wrap: nowrap;
    }
    .section4 .courses-desc{
        width: 100%;
        
    }
}
@media screen and (max-width:1117px) {
    .section4 .courses-item{
      justify-content: center;
        flex-wrap: wrap;
    }
}

.Testimonials .container h2 {
    margin-left: 42%;
    color: #0D1222;

}
.Testimonials  .row{
    padding: 50px 0px;

    gap: 40px;
}
.Testimonial{
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    box-sizing:border-box;
    padding: 20px;
    background-color: #fff;
    width: calc((100% - 40px)/2);
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.Testimonial .User-info{
    display: flex;
    align-items: center;
    gap: 10px;

}
.Testimonial  .User-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Testimonial .user-datd{
    display:flex ;
    gap: 10px;
    flex-direction: column;
}
.Testimonial  .User-info span,.Testimonial  p{
    color: #969696;
    font-family: var(--mainFont);
}
.Testimonial .rating{
    display: flex;
    gap: 8px ;
}
@media screen and (max-width:1075px) {
   
    .Testimonial{
width: 100%;
    }
}



.footer {
    font-family: var(--mainFont);
    color: #ffffff;
    background-color: #393E46;
    padding: 50px 0px;

}
.footer .row{
gap: 97px;}
.footer a {
    color: #ffffff;
}


.start {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 40%;
}

.footer .start .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
}

.footer .start .logo img {
    width: 25px;
}

.footer .start .logo a {
    font-family: "Roboto Condensed", sans-serif;

}

.footer .start .icon img {
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 1px solid #ffffff
}

.end {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
flex-grow: 1;
}

.footer .end .end-item .nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:1200px) {

   .start {
        width: 100%;
        justify-content: center;

    }
}
@media screen and (max-width:792px) {
    .footer .row {
        flex-direction: column;
    }

    .start {
        width: 100%;
        justify-content: center;

    }
    .end {
        width: 100%;
    }

    .end {
        gap: 20px;
    }

    .end .end-item {
        width: 30%;
    }

    @media screen and (max-width:430px) {
        .end .end-item {
            width: 40%;
            justify-content: center;
        }
    }
}
